<!DOCTYPE html>
<html>
<head>
    <title>Search Trains</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h2>Search Trains</h2>

    <form method="POST">
        <input type="text" name="source" placeholder="Source">
        <input type="text" name="destination" placeholder="Destination">
        <button type="submit">Search</button>
    </form>

    <br>

    {% if trains %}
        <h3>Available Trains</h3>
        {% for train in trains %}
            <div class="container" style="margin-top:20px;">
                <p><b>{{ train.train_no }} - {{ train.name }}</b></p>
                <p>{{ train.source }} → {{ train.destination }}</p>

                <form action="/book/{{ train.train_no }}">
                    <button type="submit">Book</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}
</div>

</body>
</html>