<!DOCTYPE html>
<html>
<head>
    <title>My Tickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href="/dashboard">Dashboard</a>
        <a href="/search">Search Trains</a>
        <a href="/tickets">My Tickets</a>
        <a href="/logout">Logout</a>
    </div>
    
    <div class="container">
        <h2>My Tickets</h2>
    
        {% if tickets %}
            {% for t in tickets %}
                <div class="ticket-card">
                    <p><b>Ticket ID:</b> {{ t.ticket_id }}</p>
                    <p><b>Status:</b> {{ t.status }}</p>
                    <p><b>Passengers:</b> {{ t.no_of_passengers }}</p>
    
                    <a href="/delete_ticket/{{ t.ticket_id }}">
                        <button class="cancel-btn">Cancel Ticket</button>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No tickets found.</p>
        {% endif %}
        <br>
    
        <a href="/dashboard">Back to Dashboard</a>
    </div>
    
    </body>
</html>